*{
    font-family :verdana;
    /* letter-spacing: 5px; */
}

h1{
    color: purple;
    font-size: 48px;
}
.intro{
    font-size: 18px;
    text-indent: 36px;
}

h2{
    border-left: 5px solid red;
    border-bottom: 5px solid red;
}

li{
    line-height: 1.5;
}

.special{
    /* text-decoration: underline; */
    text-decoration: line-through;
}

a{
    color: red;
}

a:hover{
    color: blue;
}

img{
    border: 5px solid gray;
}   

img:hover{
    border: 5px solid pink;
}